<h2>Log In</h2>
<br>
<%= simple_form_for :session, :url => login_path, :html => { :class => 'form-vertical' }, :method => :post do |f| %>
  <%= f.input :email, :required =>false, :label => 'Email', :placeholder => 'Email Address' %>
  <%= f.input :password, :required =>false, :label => 'Password',:placeholder => 'Password' %>
  <%= f.button :submit, 'Log in' %>
<% end %>