<%= image_tag @user.avatar.url(:medium), class: 'img-circle' %>
<br>
<br>
<p>
  <% if @user == @current_user %>
  <strong>Your Favorite Movies:</strong>
  <% else %>
  <strong><%=@user.username%>'s Favorite Movies:</strong>
  <% end %>
</p>
